{
  "parser": "babel-eslint",

  "env": {
    "browser": true,
    "phantomjs": false,
    "jquery": true
  },

  "globals": {
    "angular": true,
    "Promise": true
  },

  "rules": {
    "global-strict": 0,
    "no-extra-strict": 0,
    "strict": 0,
    "no-use-before-define": 0
  }
}
